body {background-color:black; /* style settings for app background */
      font-family:arial;
      color:white}

h1{color:gray; /* style settings for title */
   font-family:verdana;}

select { /* setting width of the select tag (No. of years)*/
    width:40px;
}

.maindiv { /* main div style */
    background-color:white;
    color:black;
    padding:20px;
    border-radius:25px;
    width:500px;
}

.innerdiv{ /* inline-block to ensure input fields are indented */
    display:inline-block;
    padding-left:100px;
    ;
}

.container{ /* container style for the grid containing labels and input fields */
    display:grid;
    grid-gap:10px;
    grid-template-columns: 110px 220px;
    width:300px;
    margin-bottom:10px;
}

input[type="number"]{
    -moz-appearance: textfield;
    width:150px
}